@import url(http://fonts.googleapis.com/css?family=Aclonica);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700);
*{padding:0;margin:0;}
html,body
{
	width:100%;
	min-height:100%;
	overflow: auto;
	font-family: 'Exo', sans-serif;
	background-color: #E4E4E4;
}
#viewHolder
{
	width:100%;
	min-height:100%;
overflow: auto;
}
/* splash view */
#splashView
{
	position:absolute;
	background-color: #3885be;
	width:100%;
	height:100%;
	font-family: 'Aclonica', sans-serif;
}
#splashView h1
{
	font-family: 'Aclonica', sans-serif;
	color:#FFFFFF;
	width:100%;
	margin-top: 20%;
	font-size: 60px;
	text-align: center;
}
#logoHolder
{
	width:100%;
	
	text-align: center;
}
/* MENU VIEW */
#menuView
{
	position:absolute;
	background-color: #3885be;
	width:100%;
	height:100%;
	font-family: 'Aclonica', sans-serif;
}
#menuView ul
{
	list-style: none;
	width:100%;
	margin-top: 10%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#menuView ul li
{
	float:left;
	width: 50%;
	text-align: center;
	padding-bottom: 50px;
	color:#FFFFFF;
	font-family: 'Aclonica', sans-serif;
	text-transform:uppercase;
	cursor: pointer;
}
#menuView ul li p
{
	padding-top: 10px;
}
/* BUDGET VIEW */
#budgetView
{
	background: #ccc;
}
.clearBoth
{
	clear: both!important;
	float:none!important;
}
/* LIST VIEW */
#listView
{
	position:absolute;
	background-color: #E4E4E4;
	width:100%;
	height:100%;
	
}
#listView .wrapper
{
	max-width: 800px;
		background-color: #FFFFFF;
		margin-left: auto;
		margin-right: auto;
		height:100%;
		position: relative;
}
#listView .header
{
	width:100%;
	height:50px;
	background-color: #3885be;
	font-family: 'Aclonica', sans-serif;
}
#listView .header ul
{
	list-style: none;
}
#listView .header ul li
{
	display: inline-block;
	vertical-align: middle;
}
#list_logo
{
	margin-left: 16px;
	margin-top: 4px;
}
#list_title
{
	font-family: 'Open Sans', sans-serif;
	color:#FFF;
	font-size: 30px;
	font-weight: 400;
	
}
/* budget module */
#listModule
{
	padding: 20px;
	position: relative;
	
}
#listModule.budgetModule ul
{
	list-style: none;
}
#listModule.budgetModule ul li
{
	display: inline-block;
	vertical-align: middle;
}
#listModule.budgetModule ul.top
{
	width:100%;
	
	min-height:38px;
}
#listModule.budgetModule ul.top .left
{
	float: left;
	
}
#listModule.budgetModule ul.top .right
{
	float: right;
	margin-right: 10px;
}
#listModule.budgetModule  .total_budget_text
{
	display: inline-block;
	color: #999999;
	font-size: 14px;
}
#totalBudget
{
	display: inline-block;
	color: #3885be;
	font-size: 21px;
	border: 0;
	text-align: right;
	width: 115px;
}
#listModule.budgetModule .table
{
	width:100%;
	background-color: #e4e4e4;
		margin-bottom: 5px;
}
#listTableHolder
{
	width:100%;
	
}
}
#listModule.budgetModule .table li
{
	display: inline-block;
	font-size: 14px;
	color:#333333;
}
#listModule.budgetModule .table .col1
{
	width:35%;
}
#listModule.budgetModule .table .col2
{
	width:35%;
}
#listModule.budgetModule .table .col3
{
	width:18%;
	text-align: right;
	color:#dd2c4d;
}
#listModule.budgetModule .table .title
{
	color: #999999;
	font-size: 20px;
}
#listModule.budgetModule .table.headings
{
	margin-top: 10px;
	background-color: #FFFFFF;
	margin-bottom: 1px;
}
#listModule.budgetModule .table .middle
{
	text-align: right;
}
#listModule.budgetModule .table li p
{
	padding: 10px;
}
#listView .footer
{
	width:100%;
	position:fixed;
 left:0;
   bottom:0px;
  
   
  
}
#listView .footer ul
{
	list-style: none;
	width: 100%;
	color:#FFFFFF;
	font-weight: bold;
	 max-width: 800px;
	 margin-left: auto;
   margin-right: auto;

}
#listView .footer .totalEHolder
{
		background-color:#333333;
		
}
#totalEstimationText,#totalOverText
{
	padding: 10px;
	float: left;
}
#totalEstimationVal,#overBudgetVal
{
padding: 10px;
	float:right;
}
#listView .footer .oveBHolder
{
		background-color:#bf3846;
		
}